
    <p class="footer"> Made with <span class="glyphicon glyphicon-heart"></span> by <a href="http://www.deliason.com">David Eliason</a> (aka <a href="http://www.davethemaker.com">davethemaker</a>)</p>
  
