<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <p class="footer"> Made with <span class="glyphicon glyphicon-heart"></span> by <a href="http://www.deliason.com">davethemaker</a></p>
  </div>
  <div class="col-xs-4"></div>
</div>
