
<nav class="navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <span class="glyphicon glyphicon-user"></span>
        Friends
      </div>
    </div>

    <ul class="nav navbar-nav">
      <li> <a href="/about">About</a></li>
      <li> <a href="/">Home</a></li>
      <li> <a href="/friends">Friends</a></li>
      <li> <a href="https://github.com/davideliason/myfriendtracker">Github Repo</a></li>
      <li> <a href="https://github.com/davideliason/davideliason.github.io">Github Portfolio</a></li>
    </ul>
  </div>
</nav>