<!DOCTYPE HTML>
<html lang="en">
<head>
  
</head>
<body class="container">
  <h3>Create new friend</h3>
  <form action="/friends/save" method="post">
  <input type="text" name="name" placeholder="name" />
  <input type="text" name="email" placeholder="email" />
  <input type="address" placeholder="address" />
  <button type="submit">submit</button>
  </form>
</body>
</html>