<!DOCTYPE HTML>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <% include ../partials/header %>

  <h3>Create new friend</h3>

  <form action="/friends/save" method="post">
  <input type="text" name="name" placeholder="name" />
  <input type="text" name="email" placeholder="email" />
  <input type="address" name="address" placeholder="address" />
  <button class="btn btn-success" type="submit">submit</button>
  </form>
</body>
</html>