<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Friend List</title>
  <% include ../partials/head %>
</head>
<body class="container">
  
  <h3>Friend List:</h3>
  <a href="/friends">All Friends</a>
  <% if(friends.length === 0){ %>
     <p>Feeling pretty lonely!</p>
  <% } %>
  <a href="/">Home</a>
  <ul>
    <% for(var i = 0; i < friends.length; i++){ %>
    <li> <span class="nameStyle"><%= friends[i].name %> </span>
         <%= friends[i].email %>
         <span class="addressStyle"><%= friends[i].address %></span>
    </li>
    <% } %>
  </ul>
</body>
</html>