<!DOCTYPE HTML>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% if(friends.length ===0){alert("lonely!");} else{alert("friends!");} %>
  <h3>Friends</h3>
</body>
</html>