<!DOCTYPE HTML>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <% include ../partials/header %>
      
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">

	    <h5>Your new friend!</h5>
		<h2><%= friend.name %></h2>

		<a href="/friends/edit/<%= friend._id %>"><button class="btn btn-danger">edit</button></a>

		<form action="/friends/delete/<%= friend._id %>" method="post">
		  <button class="btn btn-warning"type="submit"> delete</button>
		</form>
	  </div>
      <div class="col-xs-4"></div>
	</div>
</body>
</html>