<!DOCTYPE HTML>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
    <a href="/">home</a>
    <a href="/friends">friends</a>
	<p><%= friend.name %>

	<h3><a href="/friends/edit/<%= friend._id %>">edit</a></h3>

	<form action="/friends/delete/<%= friend._id %>" method="post">
	  <button class="btn btn-warning"type="submit"> delete</button>
	</form>
</body>
</html>