<!DOCTYPE HTML>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <% include ../partials/header %>
    
    <h5>Your new friend!</h5>
	<h2><%= friend.name %></h2>

	<a href="/friends/edit/<%= friend._id %>"><button class="btn btn-danger">edit</button></a>

	<form action="/friends/delete/<%= friend._id %>" method="post">
	  <button class="btn btn-warning"type="submit"> delete</button>
	</form>
</body>
</html>