<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <% include ./partials/header %>

    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">

        <p class="architectsDaughter">Friend Tracker helps to keep track of friends.</p>
        <p class="architectsDaughter">It uses a Javascript environment:</p>
        <ul>
          <li><span class="nameStyle">express:</span> server instance</li>
          <li><span class="nameStyle">node:</span> expanded functionality through modules</li>
          <li><span class="nameStyle">ejs:</span> view templating</li>
          <li><span class="nameStyle">mongodb:</span> data persistence</li>
          <li><span class="nameStyle">mongoose:</span> use of Schemas with DB</li>
        </ul>
      </div> 
      <div class="col-xs-3"></div>
    </div>
    <% include ./partials/footer %>
    
  </body>
</html>
