<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <% include ./partials/header %>

    <h1><%= title %></h1>
    <p>Welcome to Friend Tracker!<p>
    <ul>
      <li><a href="/friends">view friends</a></li>
      <li><a href="/friends/create">add a friend</a></li>
    </ul>
    <% include ./partials/footer %>
  </body>
</html>
