<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <h1><%= title %></h1>
    <a href="/friends">See friends</a>
    <a href="/friends/create">create new friend</a>
  </body>
</html>
