body {
	background-color: #66a3ff;
	font-family: 'Patrick Hand SC', cursive;
	font-size: 2em;
}

.nameStyle {
	color: white;
	padding-right: 10px;
}

.addressStyle {
	color: yellow;
	padding-left: 10px;
}

footer {
	position: absolute;
	bottom: 20px;
}